/* CSS*/
body {
  margin: 0cm;
}

.cover {
  heidht: 400px;
  background-image: url(https://cdn.glitch.me/d4e0c15c-4d02-463c-be15-ee93c81dae7d/priscilla-du-preez-dlxLGIy-2VU-unsplash.jpg?v=1640465268456);
  color: firebrick;
  background-size: cover;
  background-position: center;
}

.card {
  border: 0 !important ;
}
